# =========================================================
# 智慧农业物联网可视化平台 - Python依赖列表
# 版权所有 (c) 2023-2025 
# 开发者: 黄浩、王伟
# 联系方式: 2768607063@163.com
# 未经授权，禁止复制、修改或分发本代码
# =========================================================

# SendCmdServer.py 依赖包
bottle==0.12.25
huaweicloudsdkcore>=3.1.81
huaweicloudsdkiotda>=3.1.81
mysql-connector-python>=8.1.0 
python-docx>=0.8.11 